$bg-color: rgb(0, 0, 0);
$header: rgb(255, 255, 255);
$align: 20em;
$text: rgb(221, 216, 216);

body{ 
    background-color: $bg-color;
}



h1{
    color: $header;
    text-decoration: underline;
    padding-left: $align;
    padding-top: 30px;
}

#box{
    color: $text;
    padding-left: 35em;
}

#button{
    padding-top: 15px;
    padding-left: 60em;
}

.label{
    padding-left: $align;
}

.green{
    color: green;
}

ul{
    color: $text;
    padding-left: 60em; 
}

